.alert {
	display: block;
	font-family: sans-serif;
	background: #FFFFFF;
	border: #A51A00 1px solid;
	border-left: #A51A00 10px solid;
	color: #A51A00;
	padding: 2em;

	h1 {
		margin: 0;
		font-size: 1.5em;
	}
	p {
		margin: 0.25em 0 0.25em 0;
		font-size: 1em;
		line-height: 1.25em;
	}

	.bp-tablet ({
		display: inline-block;
		width:45%;
		position: absolute;
		top: 1.5em;
		right: 1.5em;
	});

	.bp-desktop ({
		width: 30%;
	});
}